
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/greet.js"></script>

</head>
<body>
    {{n}}
    <p>The current time is: <span id="clock"></span></p>
    <button onclick="greet('Marc')">Marc?</button>
    <input type="text" name="num1" id="num1"><br>
    <input type="text" name="num2" id="num2"><br>
    <button onclick="add(document.getElementById('num1').value, document.getElementById('num2').value)">Solve</button>
</body>
</html>